@import url("https://fonts.googleapis.com/css2?family=Lavishly+Yours&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,500;1,500&display=swap");

* {
  color: brown;
  background-color: beige;
}

.title {
  font-family: "Lavishly Yours", serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  text-shadow: rgb(255, 145, 0) 1px 0 10px;
  font-size: 55px;
}

.list {
  font-family: "Nunito", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 25px;
}

a {
  text-decoration: none;
}

.btn {
  background-color: rgba(255, 0, 13, 0.05);
  border-radius: 8px;
  border-width: 0;
  color: #333333;
  cursor: pointer;
  display: inline-block;
  font-family: "Nunito", serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  margin: 0;
  padding: 10px 12px;
  text-align: center;
  transition: all 200ms;
  vertical-align: baseline;
  white-space: nowrap;
  user-select: none;
  touch-action: manipulation;
}
